{
  "presets": [
    [
      "@babel/preset-env",
      {
        loose: true,
        exclude: ["transform-typeof-symbol"],
        targets: {
          browsers: [
            ">0.5%",
            "not dead",
            "not ie <= 11",
            "not op_mini all"
          ]
        }
      }
  ],
    "@babel/preset-flow",
    "@babel/preset-react",
    "minify"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    ["babel-plugin-transform-react-remove-prop-types", { mode: "wrap" }],
    ["@babel/plugin-proposal-class-properties", { loose: true }],
    ["@babel/plugin-proposal-object-rest-spread", { useBuiltIns: true }],
    ["babel-plugin-module-resolver", {
        root: ["./src/"],
        alias: { expo: "./src/expo.web.js" },
      }
    ]
  ]
}
