node_modules/
coverage/
dist/
lib/
web-build/
web-report/

# Lerna writes to this file on version updates.
lerna.json

.expo/
.yarn/
.vscode/

# Logs
completed.json
errors.json
components.json

# Example
example/node_modules
example/__generated__
